*{
  font-family: 'Inter';
  font-weight: 400;
  
  
 
}
body{
   background-image: url('Posibles_imagenes/fondo.jpg');
   background-size: cover;
   background-position: center
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}




textarea{
  background-color: rgba(16, 106, 241, 0.548);
  border: none;
  border-radius: 24px;
  color: rgba(163, 190, 170, 0.314);
  height: 80%;
  top: -10%;
  margin-left: 108px;
  margin-top: 190px;
  position: fixed;
  width: 330px; 
  border-top: none; 
  font-size: 40px;
  color: #dfdfe0;
  line-height: normal;
  text-align: center;
  overflow: hidden;
  overflow-x: hidden;
  resize: none;
  
  
}







textarea::placeholder{color:#e4e4e4a6; font-size: 20px; position: relative; right: -0px; bottom: -300px;text-align: normal; outline: none;}
textarea:focus{
    outline: none;
    resize: none;
    
   
  }

.mensaje {
  background-color: rgba(16, 106, 241, 0.548);
  border: none;
  border-radius: 24px;
  color: rgba(163, 190, 170, 0.314);
  height: 80%;
  top: -10%;
  margin-left: 98px;
  margin-top: 190px;
  position: fixed;
  width: 330px; 
  border-top: none; 
  overflow: hidden;
  overflow-x: hidden;
  resize: none;
  font-size: 40px;
  color: #dfdfe0;
}

.mensaje:focus{
    outline: none;
}

.botones{
    display: flex;
    position: relative;
    margin-top: -30px;
    margin-left: 535px;
    
  
    }

.btn-desencriptar{
    background-color: #d8dfe8ce; /*color de fondo del botón */
    border: 1px solid #0A3871; /*Para los bordes del botón */
    border-radius: 24px; /*Para redondear los bordes*/
    color: #0A3871; 
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
    font-size: 20px;
}
.btn-encriptar{
    background-color: #0a3871e5; /*color de fondo  del botón */
    border: 1px solid #0A3871; /*Para los bordes del botón */
    border-radius: 24px; /*Para redondear los bordes*/
    color: rgb(247, 247, 247); 
    cursor: pointer;
    height: 67px;
    width: 328px;
    font-size: 20px;
}
   
.copiar{
    background-color: #e9e9f138;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #d3d9e0;
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 402px;
    position: absolute;
    width: 300px;
    font-size: 20px;
}

.copiar {
    position: fixed;
    bottom: 150px; /* Ajusta la distancia desde la parte inferior según sea necesario */
     /* Ajusta la distancia desde el lado derecho según sea necesario */
}  

.informacion{
    color: #ededee;
    font-size: 15px;
    text-align: center;
    margin-top: 710px;
    margin-left: 100px;
}


  @media screen and (max-width:480px) {
    .text-area{
      position: fixed;
      width: 100%;
      height: 30%;
      right: 1px;
      top: 2%;
      
    }
    textarea::placeholder{
      bottom: -150px;
    }
    .mensaje{
      width: 100%;
      height: 30%;
      right: 1px;
      top: 50%;
    }
    .botones{
      top: -165px;
      right: 300px;
      
    }
    .btn-encriptar{
      position: fixed;
      width: 600px;
      border-radius: 216px;
      font-size: 30px;
      margin-top: -80px;
      right: 10px;
      
      
    }
    .btn-desencriptar{
      position: fixed;
      width: 600px;
      border-radius: 216px;
      font-size: 26px;
      margin-top: 3px;
      right: 10px;
    }
    .informacion{
      margin-top:  133%;
      margin-left: -18%;
      font-size: 35px;
      
    }
    .copiar{
      bottom: 90px;
      position: fixed;
      width: 600px;
      border-radius: 216px;
      font-size: 26px;
      margin-top: 3px;
      right: 10px;
    }
  }  
  
  @media screen and (min-width:481px) and (max-width:576px){
    .text-area{
      position: fixed;
      width: 100%;
      height: 30%;
      right: 1px;
      top: -15%;
      
    }
    textarea::placeholder{
      bottom: -150px;
    }
    .mensaje{
      width: 100%;
      height: 30%;
      right: 1px;
      top: 45%;
    }
    .botones{
      top: -165px;
      right: 300px;
      
    }
    .btn-encriptar{
      position: fixed;
      width: 600px;
      border-radius: 216px;
      font-size: 30px;
      margin-top: -80px;
      right: 10px;
      
      
    }
    .btn-desencriptar{
      position: fixed;
      width: 600px;
      border-radius: 216px;
      font-size: 26px;
      margin-top: 3px;
      right: 10px;
    }
    .informacion{
      margin-top:  100%;
      margin-left: -18%;
      font-size: 35px;
      
    }
    .copiar{
      bottom: 70px;
      position: fixed;
      width: 600px;
      border-radius: 216px;
      font-size: 26px;
      margin-top: 3px;
      right: 10px;
    }
   
  }

  